
.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content:space-around;
    padding: 10px;
    margin: 0;

}

.card {
    background-color:darkslategrey;
    height: 170px;
    width: 200px;
    margin: 3px;
    border:3px solid black;
    border-radius: 1px;
    color: white;
    font-family:'Times New Roman';
}
.card:hover {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color:rgb(177, 170, 42);
    border:3px solid black;
    border-radius: 1px;
    color: black;
}

h4 {
    margin: 1px;
}

p {
    margin: 1px;
}
 .imag {
    height: 90px;
    width: 80%; 
    margin: 1px  10%;
    margin-top: 1px;
    border: 2px solid black;
    display: block;
    
 }