
.c1 {
  height: 100vh;
  width: 100vw;
  background-color: rgb(184, 142, 75);
    background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content:space-around;
  
}
.c2 {
  background-color: rgb(72, 122, 117);
  display:flex;
  flex-direction: center;
  justify-content:space-between;

}

.c3 {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content:space-around;
  width: 100vw;
  height: 100vh;
}

.c4 {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content:space-around;
  width: 100%;
  height: 30px;
}

.c5 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content:space-around;
  width: 100vw;
  height: 100vh;
}

.hpbot {
  background-color:darkslategrey;
  color: whitesmoke;
  padding-top: 1px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  transition-duration: 0.4s;
  height: 50px;
}
.hpbot:hover {
  background-color:rgb(177, 170, 42);
  color: black; 
}

.hpfilter{
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid black;
  
  background-color: wheat;
  cursor:grab;
}
