.pi__detail {
    min-height: 750px;
    display: flex;
    justify-content: center;
    color: #eee;
    font-family: var(--font-family);
}

.pi__detail-head {
    position: relative;
    flex: 1;
}

.pi__detail-head > img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    object-fit: cover;
    overflow: hidden;
    border-radius: 25px 0 0 25px;
}

.pi__detail-head > h1 {
    font-size: 56px;
    font-weight: 700;
    position: absolute;
    left: 15px;
    bottom: 26%;
    color: #eee;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.pi__detail-rating {
    display: flex;
    font-size: 18px;
    position: absolute;
    left: 15px;
    bottom: 14%;
    color: #eee;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.pi__detail-rating > img {
    width: 22px;
    margin-right: 5px;
    filter: invert(99%) sepia(100%) saturate(1912%) hue-rotate(8deg)
        brightness(109%) contrast(97%);
}

.pi__detail-head > p {
    position: absolute;
    font-size: 18px;
    left: 100px;
    bottom: 14%;
    color: #eee;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.pi__detail-content {
    padding: 0.5rem 1.5rem;
    background-color: #eee;
    color: #111;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 25px 25px 0;
}

.pi__detail-content > p {
    text-align: justify;
    width: 100%;
    max-height: 70%;
    padding: 1rem;
    line-height: 1.5;
    /* display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical; */
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

/* width */
.pi__detail-content > p::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.pi__detail-content > p::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
.pi__detail-content > p::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.pi__detail-content > p::-webkit-scrollbar-thumb:hover {
    background: #888;
}

ul {
    list-style: none;
}

li {
    border: 1px solid #111;
    border-radius: 10px;
}

.pi__detail-genres {
    position: absolute;
    left: 13px;
    bottom: 20%;
    font-size: 16px;
}
.pi__detail-genres > span {
    margin: 0 3px;
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 0.25rem 0.45rem;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.pi__detail-platforms {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.pi__detail-platforms > span {
    border: 1px solid #111;
    border-radius: 5px;
    padding: 0.25rem 0.35rem;
    margin: 5px;
}

.pi__detail-back {
    position: absolute;
    top: -40px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
    transition: all 0.5s;
}

.pi__detail-back > img {
    width: 20px;
    margin-right: 5px;
    filter: invert(99%) sepia(0%) saturate(6208%) hue-rotate(273deg)
        brightness(131%) contrast(87%);
}

.pi__detail-back > span {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    align-self: center;
}

.pi__detail-back > span:hover {
    text-decoration: underline;
}
